<!-- ----- ヘッダー(ここから) ----- -->
<header>
  <nav>
    <a href="/">Atoviag Typing Game</a>
    <a href="/signup">
      <span class="btn_inside">
        <span class="material-symbols-outlined">login</span>
        <span class="btn_text">&nbsp;Sign Up</span>
      </span>
    </a>
  </nav>
</header>
<!-- ----- ヘッダー(ここまで) ----- -->