/* ----- Google icon (sign-in button) ----- */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 250,
  'GRAD' 0,
  'opsz' 24
}

/* ----- whole body ----- */
body {
  display: block;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
  /* font-family: 'Merriweather', serif; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Roboto Condensed', sans-serif;
  /* font-family: 'Tiro Bangla', serif; */
}

/* ----- Modal window when displaying ----- */
#check-window {
  background-color: #fff;
  width: 650px;
  padding: 10px 30px;
  border-radius: 0 0 5px 5px;
  border: solid rgba(0,0,0,.3);
  border-width: 0 1px 1px 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.8s;
  z-index: 4;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
}

/* ----- Title of modal window when displayed ----- */
#check-window p {
  text-align: center;
  font-size: 15px;
  margin: 15px 0 ;
}

/* ----- Area of ​​confirmation items in modal window when displayed ----- */
#check-window div, #check-window ol {
  display: flex;
  flex-wrap: wrap;
}

li{
  position: relative;
  padding-left: 5px;
}

li:before {
  content: "";
  position: absolute;
  top: .1em;
  left: 0;
  -webkit-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(50deg);
  width: 5px;
  height: 10px;
  border-right: 3px solid lightgreen;
  border-bottom: 3px solid  lightgreen;
}

li.li_effect:before {
  border-right: 3px solid red;
  border-bottom: 3px solid  red;
  transition: .5s;
}

/* ----- Confirmation items and check fields in the modal window when displayed ----- */
#check-window div p, #check-window ol li  {
  text-align: left;
  line-height: 30px;
  font-size: 12px;
  margin: 5px 0;
  width: 50%;
}

/* ----- Modal window when hidden ----- */
#check-window.hidden {
  transform: translate(0,-500px);
}

/* ----- Modal window btn area ----- */
.modal-window-btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 15px auto;
}

/* ----- start button ----- */
#game-start-btn {
  opacity: 1;
}

#game-start-btn:disabled {
  opacity: .5;
}

/* ----- Modal window close btn ----- */
.check-window-close-btn {
  position:absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
  opacity: .5;
  cursor: pointer;
}

.check-window-close-btn.show {
  pointer-events: fill;
  opacity: 1;
}

/* ----- header area ----- */
header {
  width: 100%;
  background-color: #333a40;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9em;
}

/* ----- navigation ----- */
nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin: 10px 0;
}

/* ----- main area ----- */
main {
  width: 60%;
  margin: 10px auto;
}

/* ----- timer area ----- */
#time_left {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  height: 40px;
  opacity: 1;
  transition: opacity 1s height 0s;
  transition: .5s;
}

#time_left.counting {
  color: #ff0000;
  transition: .5s;
}

#time_left.hidden {
  height: 0;
  opacity: 0;
  transition: opactiy 0s height 1s;
}

/* ----- text action area ----- */
#text_area {
  width: 100%;
  height: 200px;
  background-color: #e8ecee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2em;
}

/* ----- button area ----- */
.btn_field {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

/* ----- button ----- */
button {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  padding: 8px 8px 8px 4px;
  font-weight: 700;
  min-width: 82px;
}

.btn_inside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----- text if typed correctly ----- */
#typed {
  color: lightgreen;
}

#untyped {
  transition: .5s;
}

#untyped.counting {
  color: #ff0000;
  transition: .5s;
}

/* ----- effect on access ----- */
#text_area.initial-effect {
  background-color: lightgreen;
}

.form_pass_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  text-align: center;
}

.pass_input_area {
  display: flex; 
  justify-content: center;
}

.pass_input {
  border-right: none;
  border-radius: .25rem 0 0 .25rem;
}

.visibility {
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: 1px solid #ced4da;
  display: flex;
  justify-content: flex-end;
  font-size: 2em;
  border-left: none;
  border-radius: 0  .25rem .25rem 0;
}

.pass_btn_area {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pass_show_btn {
  color: #ced4da;
  padding: 6px;
}

.g-recaptcha {
  height: 100px;
  margin: 15px auto 0;
  opacity: 1;
  transition: 1s;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-recaptcha.hidden {
  opacity: 0;
  height: 0;
  pointer-events: none;
}

#submit_btn {
  opacity: 1;
}

#submit_btn:disabled {
  opacity: .5;
}

/* -----  keypresstype type input (this is shown only for smartphone) ----- */
.keypress-type-area {
  display: none;
}

#keypress-type-field {
  display: none;
}

/* ----- textinputtype type input ----- */
#text-input-field {
  width: 70%;
  text-align: center;
  font-size: 1.5em;
  margin-right: 5px;
}

#text_input_submit_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

@media screen and (max-width: 767px) {
  /* ----- whole body SP ----- */
  body {
    width: 100%;
  }

  /* ----- Modal window when displayed SP ----- */
  #check-window {
    width: 100%;
    padding: 30px 0;
    border-width: 0 0 1px 0;
  }

  /* ----- Title of modal window when displayed SP ----- */
  #check-window p {
    margin: 15px 0;
  }

  /* ----- Area of ​​confirmation items in modal window when displayed SP ----- */
  #check-window div, #check-window ol {
    width: 90%;
    flex-direction: column;
    margin: 15px auto;
  }

  /* ----- Confirmation items and check fields in the modal window when displayed SP ----- */
  #check-window div p, #check-window ol li  {
    width: auto;
  }

  /* ----- Modal window when hidden SP ----- */
  #check-window.hidden {
    transform: translate(0,-700px);
  }

  /* ----- Modal window btn area SP ----- */
  .modal-window-btn-area {
    margin: 15px auto;
  }

  /* ----- start button SP ----- */
  #game-start-btn {
    width: fit-content;
    opacity: 1;
  }

  /* ----- navigation SP ----- */
  nav {
    width: 100%;
    margin: 10px;
    justify-content: space-between;
  }

  /* ----- main area SP ----- */
  main {
    width: 100%;
    font-size: .75em;
  }

  .col-form-label {
    font-size: 1.5em;
    text-align: left;
  }

  .pass_input_area {
    position: relative;
  }

  .pass_input {
    border-right: 1px solid #ced4da;
    border-radius: .25rem;
  }

  .visibility {
    position: absolute;
    right: 12px;
    border: none;
    border-radius: 0;
  }

  ::placeholder {
    text-align: center;
  }

  option {
    width: 100%;
    text-align: center;
    
  }

  /* ----- keypresstype input SP ----- */
  .keypress-type-area {
    display: inline;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
  }

  #keypress-type-field {
    display: inline;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
  }

  /* ----- textinputtype type input ----- */
  #text-input-field {
    width: 200px;
  }

  #text_input_submit_btn {
    height: 42px;
  }
}